#edit_container {
  .pane {
    overflow-x: auto;
    overflow-y: auto;
  }
}

.sentence {
  &:hover {
    background: #F0F0F0;
  }
  .word:hover {
    background: #E0E0E0;
  }
  &.selected {
    background: #ffff99;
  }
}

.sentence-annotator {
  .word-annotator {
    margin: 2px;

    .dict {
      background: #ffff99;
      box-shadow: 4px 4px 4px #eee;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .double-row {
      font-size: 133%;
      font-weight: bold;
      &:first-child {
        text-align: right;
      }
      input {
        font-size: inherit;
      }
    }
    .dictionary-form {
      font-weight: bold;
    }
  }

  input {
    margin: 0;
    padding: 2px;
    height: inherit;
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    box-shadow: none;
  }
}
