#edit_container {
  .pane {
    overflow-x: auto;
    overflow-y: auto;
  }
}

.sentence {
  &:hover {
    background: #F0F0F0;
  }
  .word:hover {
    background: #E0E0E0;
  }
}

.sentence-annotator {
  .word-annotator {
    margin: 2px;

    .dict {
      background: #ffff99;
      box-shadow: 4px 4px 4px #eee;
    }
    .double-row {
      font-size: 133%;
      font-weight: bold;
      &:first-child {
        text-align: right;
      }
    }
  }
}
